

/*//--------- Chart1 begins ------*/
  .background {
    fill: none;
    pointer-events: all;
  }

  .feature {
    fill: #ccc;
    cursor: pointer;
  }

  .feature.active {
    fill: orange;
  }

  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
    /*#countries path{
      fill: #99ccff;
    }*/

    h2 {
      position: absolute;
      top: 50px;
      left: 100px;
      font-size: 1.3em;
      font-weight: 100;      
    }

    .met path{
      fill: #900;
      /*stroke: #282828;*/
    }
    .met path:hover{
      fill: black;
    }

    .countries {
      fill: none;
      stroke: #fff;
      stroke-linejoin: round;
    }
/*//----------Chart1 ends-------*/
